<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/f6a9cde3da.js" crossorigin="anonymous"></script>   
    <link rel="stylesheet" href="/css/style.css">
    <title>Librería Kodos</title>
</head>

<body>

    <div class="hero">

        <header>
            <section class="up-section">
                <div class="main-title">
                    <!-- <img src="/images/logo blanco.png" alt=""> -->
                    <h1 class="main-title__text">KODOS</h1>
                </div>
                <nav class="main-menu">
                    <ul class="menu">
                        <li class="menu__item"><a class="animation" href="">Inicio</a></li>
                        <li class="menu__item"><a class="animation" href="">¿Quiénes somos?</a></li>
                        <li class="menu__item"><a class="animation" href="">Catálogo</a></li>
                        <li class="menu__item"><a href="/login"><i class="fa-regular fa-user"></i></a></li>
                        <li class="menu__item"><a href=""><i class="fa-brands fa-searchengin"></i></a></li>
         
                    </ul>
                </nav>

                <div class="hamburguer-menu">
                    <i class="fa fa-bars burger"></i>
                </div>
            </section>
        </header>

        <div class="hero-box">
            <h2 class="box-title">Romeo y Julieta</h2>
            <p class="box-text">La clásica tragedia de Shakespeare cobra nueva vida con el arte de Svetlin Vassilev</p>
            <div class="button">
                <button class="cfa">Leer un fragmento</button>
            </div>
        </div>
        <div class="down-section">
            <p class="down-section__text">Romeo y Julieta, ilustrado por Svetlin Vassilev</p>
            <button class="down-section__button">LEER UN FRAGMENTO</button>
        </div>
        <div class="oculto">

        <!-- <div class="left-arrow">
            <i class="fa-solid fa-angle-left"></i>
        </div>
        <div class="right-arrow">
            <i class="fa-solid fa-angle-right"></i>
        </div> -->
        </div>

    </div>
    <!-- End of Hero section -->

    <main>

        <section class="graphic-novel">
            <div class="title-container">
                <h1 class="graphic-novel__title">
                    > HISTORIETA
                </h1>
            </div>
            <div class="novel-container">
                
                <article class="novel-item">
                    <img src="/images/Cover-Cielo-sobre-Berlin-WEB.jpeg" alt="">
                    <h2>El cielo sobre Berlín</h2>
                    <p>Sebastiano y Lorenzo Toma</p>
                    <p>$3200</p>
                </article>

                <article class="novel-item">
                    <img src="/images/home_cover_piano.jpeg" alt="">
                    <h2>El piano oriental</h2>
                    <p>Zeina Abirached</p>
                    <p>$3200</p>
                </article>


                <article class="novel-item">
                    <img src="/images/home_cover_persepolis.jpeg" alt="">
                    <h2>Persepolis</h2>
                    <p>Marjane Satrapi</p>
                    <p>$3200</p>
                </article>


                <article class="novel-item">
                    <img src="/images/COVER_El-ano-de-la-rata_ALTA-800x1093.jpeg" alt="">
                    <h2>El año de la rata</h2>
                    <p>Mariana Enríquez</p>
                    <p>Ilus.: Dr. Alderete</p>
                    <p>$2200</p>
                </article>

                <article class="novel-item">
                    <img src="/images/home_cover_heimat.jpeg" alt="">
                    <h2>Heimat</h2>
                    <p>Nora Krug</p>
                    <p>$3200</p>
                </article>

                <article class="novel-item">
                    <img src="/images/cover_simon.jpg" alt="">
                    <h2>Un paseo por la vida de Simone de Beauvoir</h2>
                    <p> Carmen G. de la Cueva</p>
                    <p>Ilus: Malota</p>
                    <p>$3200</p>
                </article>
            </div>
        </section>
        <section class="literature">

            <div class="title-container">
                <h1 class="literature-novel__title">
                    > LITERATURA ILUSTRADA
                </h1>
            </div>
            <article class="literature-container">
                <div class="corner-text-wrapper">
                    <div class="corner-text">
                      <span>NUEVO</span>
                      </div>
                </div>


                <div class="literature-highlight">
                    <img src="/images/excalibur_lake.jpeg" alt="">
                </div>

                <div class="literature-description">
                    <h2 class="highlight-title">La muerte del rey Arturo</h2>
                    <h3 class="highlight-subtitle">El clásico de Sir Thomas Malory, ilustrado por Aubrey Beardsley</h3>
                    <p class="highlight-text">"... y salió del agua un brazo y una mano al encuentro de la espada, la
                        asió, la sacudió y la blandió tres veces, y después desapareció con la espada en el agua".</p>
                    <div class="highlight-button-container">
                    <button class="highlight-button">VER MÁS</button>
                    </div>
                </div>
            </article>
        
        <section class="literature-section">

            <div class="novel-container">
                <article class="novel-item">
                    <img src="/images/condesa-sangrienta.jpeg" alt="">
                    <h2>La condesa condesa sangrienta</h2>
                    <p>Alejandra Pizarnik</p>
                    <p>Ilus.: Santiago Caruso</p>
                    <p>$2200</p>
                </article>


                <article class="novel-item">
                    <img src="/images/metam-espanol.jpeg" alt="">
                    <h2>La metamorfosis</h2>
                    <p>Franz Kafka</p>
                    <p>Ilus.: Luis Scafati</p>
                    <p>$2500</p>
                </article>

                <article class="novel-item">
                    <img src="/images/Home cover Romeo-y-Julieta.jpeg" alt="">
                    <h2>Romeo y Julieta</h2>
                    <p>William Shakespeare</p>
                    <p>Svetlin Vassilev</p>
                    <p>$2200</p>
                </article>


                <article class="novel-item">
                    <img src="/images/Cover_El-hombre-invisible.jpeg" alt="">
                    <h2>El hombre invisible</h2>
                    <p>H. G. Wells</p>
                    <p>Ilus.: Luis Scafati</p>
                    <p>$2200</p>
                </article>


                <article class="novel-item">
                    <img src="/images/Home-Cover_Odas-a-la-comida.jpeg" alt="">
                    <h2>Odas a la comida y otros placeres elementales</h2>
                    <p>Pablo Neruda</p>
                    <p>Ilus.: Javier Zabala</p>
                    <p>$2500</p>
                </article>


                <article class="novel-item">
                    <img src="/images/Home_Cover_Fahrenheit.jpeg" alt="">
                    <h2>Fahrenheit 451</h2>
                    <p>Ray Bradbury</p>
                    <p>Ilus.: Ralph Steadman</p>
                    <p>$2600</p>
                </article>
            </div>
        </section>
        </section>

        <section class="children">
            <div class="title-container">
                <h1 class="children__title">
                    > INFANTILES
                </h1>
            </div>

            <div class="children-container">

                <article class="children-item">
                    <img src="/images/Cover_Discurso-del-Oso.jpeg" alt="">
                    <h2>Discurso del oso</h2>
                    <p>Julio Cortázar</p>
                    <p>Ilus.: Emilio Urberuaga</p>
                    <p>$3200</p>
                </article>


                <article class="children-item">
                    <img src="/images/hilo-sin-fin.jpeg" alt="">
                    <h2>Hilo sin fin</h2>
                    <p>Julio Cortázar</p>
                    <p>Ilus.: Emilio Urberuaga</p>
                    <p>$1300</p>
                </article>


                <article class="children-item">
                    <img src="/images/espera-miyuki.jpeg" alt="">
                    <h2>Espera, Miyuki</h2>
                    <p>Roxane Marie</p>
                    <p>Ilus.: Seng Soun Ratavanah</p>
                    <p>$1200</p>
                </article>


                <article class="children-item">
                    <img src="/images/COVER_Ríos-del-mundo.jpeg" alt="">
                    <h2>Ríos del mundo</h2>
                    <p>Volker Mehnert</p>
                    <p>Ilus.: Martin Haake</p>
                    <p>2200</p>
                </article>


                <article class="children-item">
                    <img src="/images/COVER_Serafina.jpeg" alt="">
                    <h2>Serafina</h2>
                    <p>Albertine</p>
                    <p>$3200</p>
                </article>

                <article class="children-item">
                    <img src="/images/COVER_El-vendedor-de-felicidad.jpeg" alt="">
                    <h2>El vendedor de felicidad</h2>
                    <p>Davide Calì</p>
                    <p>Ilus.: Marco Somà</p>
                    <p>$1600</p>
                </article>
            </div>
        </section>
  
       
        <!-- <div class="title-container">
            <h1 class="children__title">
                SEGUÍ EXPLORANDO
            </h1>
        </div> -->
        <div class="more-genres">
            <p class="viajes"><a href="">> VIAJES</a></p>
            <p class="humor"><a href="">> HUMOR</a></p>
            <p class="arte"><a href="">> BIOGRAFÍA</a></p>
            <!-- <p class="biografia"><a href="">> ARTE</a></p> -->

        </div>






    </main>


    
    <footer class="footer-section">

        <article class="footer-item">
            <p class="navegacion">NAVEGACIÓN</p>
           <ul>
               <li>Inicio</li>
               <li>Catálogo</li>
               <li>Envíos</li>
               <li>Contacto</li>
           </ul>
      
            </article>
        <article class="footer-item">
        <i class="fas fa-credit-card"></i>
        <p>Todos los medios de pago</p>
    
        <i class="fa-solid fa-truck-fast"></i>
        <p>Envíos en el día a CABA Y GBA</p>
        <i class="fa-solid fa-user-shield"></i>
        <p>Seguridad y certificaciones</p>
        </article>

        <article class="footer-item">
        <p class="contacto-redes">CONTACTO Y REDES SOCIALES</p>
        <i class="fa-brands fa-whatsapp"></i>
        <i class="fa-brands fa-instagram"></i>
        <i class="fa-brands fa-facebook-f"></i>
        
        </article>


    <section class="footer-copyright">
        <p>Copyright ©2022 Kodos S.R.L.</p>
    </section>
</footer>

</body>

</html>