<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/f6a9cde3da.js" crossorigin="anonymous"></script>  
    <link rel="stylesheet" href="/css/style.css">
    <title>Ingresar</title>
</head>
<body class="body-login">

    <header>
        <section class="up-section">
            <div class="main-title">
                <!-- <img src="/images/logo blanco.png" alt=""> -->
                <h1 class="main-title__text">KODOS</h1>
            </div>
            <nav class="main-menu">
                <ul class="menu">
                    <li class="menu__item"><a class="animation" href="">Inicio</a></li>
                    <li class="menu__item"><a class="animation" href="">¿Quiénes somos?</a></li>
                    <li class="menu__item"><a class="animation" href="">Catálogo</a></li>
                    <li class="menu__item"><a href=""><i class="fa-regular fa-user"></i></a></li>
                    <li class="menu__item"><a href=""><i class="fa-brands fa-searchengin"></i></a></li>
     
                </ul>
            </nav>

            <div class="hamburguer-menu">
                <i class="fa fa-bars burger"></i>
            </div>
        </section>
    </header>    
    <main class="main-login">
        <div class="caja-login">  
        <form action="/" method="get"> 
            <div>
                  <label class="nombre-usuario" for="nombre-usuario"></label>
                  <input type="text" name="nombre-usuario" id="nombre-usuario" placeholder="Nombre de usuario" class="input-barras" required>
              </div>
              <div>
                  <label for="password"></label>
                  <input type="password" name="password" id="password" placeholder="Ingresá tu contraseña" class="input-barras" required>
              </div>
              <div  class="div-boton-login">
                  <button type="submit" class="boton-login">Ingresar</button>
              </div>
             <p class="recuperacion-contraseña">
                ¿No tenés cuenta?  <a href="/register">Creala</a>. 
            </p>
             <p class="recuperacion-contraseña">
                <a href="/user/pass">¿Olvidaste tu contraseña?</a> 
              </p></a>
      
            </div>
      
      </main>

      <footer class="footer-section">

        <article class="footer-item">
            <p class="navegacion">NAVEGACIÓN</p>
           <ul>
               <li>Inicio</li>
               <li>Catálogo</li>
               <li>Envíos</li>
               <li>Contacto</li>
           </ul>
      
            </article>
        <article class="footer-item">
        <i class="fas fa-credit-card"></i>
        <p>Todos los medios de pago</p>
    
        <i class="fa-solid fa-truck-fast"></i>
        <p>Envíos en el día a CABA Y GBA</p>
        <i class="fa-solid fa-user-shield"></i>
        <p>Seguridad y certificaciones</p>
        </article>

        <article class="footer-item">
        <p class="contacto-redes">CONTACTO Y REDES SOCIALES</p>
        <i class="fa-brands fa-whatsapp"></i>
        <i class="fa-brands fa-instagram"></i>
        <i class="fa-brands fa-facebook-f"></i>
        
        </article>


    <section class="footer-copyright">
        <p>Copyright ©2022 Kodos S.R.L.</p>
    </section>
</footer>
    
</body>
</html>