@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;1,700&family=Roboto+Mono:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;1,700&family=Open+Sans:wght@300;400;700;800&family=Roboto+Mono:wght@300;400;700&display=swap');


/* "Open Sans", "Segoe UI", "Lucida Grande", Verdana, sans-serif; */

* {
    box-sizing: border-box;
    font-family: "Open Sans", "Segoe UI", "Lucida Grande", Verdana, sans-serif;
    margin: 0;
    padding: 0;
    
}

body {
    margin-right: auto;
    margin-left: auto;
    padding: 0%;

}

.up-section {
    align-items: center;
    background: #c53758;
    opacity: 0.8;
    display: flex;
    font-family: "Open Sans", "Segoe UI", "Lucida Grande", Verdana, sans-serif;
    height: 75px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 8px;
    width: 98%;
}

.up-section:hover {
    opacity: 1.0;
    transition: all ease-in-out 250ms;

}

.main-title {
    color: whitesmoke;
    font-size: 18px;
    margin-left: 30px; 
    width: 40%;
    
}

.main-menu {
    width: 40%;

}

.menu {
    align-items: center;
    display: flex;
    display: none;
    justify-content: flex-end;
   

}

.menu__item {
    font-weight: bold;
    list-style-type: none;
    padding-bottom: 20px;
    padding-top: 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    width: 150px;
    
}

.fa-user, .fa-search {
    color: whitesmoke;
    font-size: 20px;
}



.fa-user:hover , .fa-search:hover {
    color: lightgray;
}

nav a {
    color: whitesmoke;
    font-size: 14px;
    text-decoration: none;
    text-transform: uppercase;
    
}

nav a:hover {
    color: lightgray
}

nav .animation::before {
    background-color: lightgray;
    content: "";
    display: block;
    height: 5px;
    position: absolute;
    top: 0;
    transition: all ease-in-out 250ms;
    width: 0%;
}

nav a:hover::before {
    width: 100%;
}


.hero {
    background-image: url("/images/cortada_Romeo-y-Julieta.jpeg");
    background-color: #464646;
    background-position: left center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    height: 100vh;
    justify-content: space-between;
    margin: 0;
}



.hero-box {
    align-self: flex-end;
    background-color: white;
    border: 1px solid #ccc;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 60px;
    padding-left: 60px;
    width: 35%;
    margin-right: 30px;
    display: flex;
    flex-wrap: wrap;
    display: none;

}


.box-title,
.box-text,
.cfa {
    padding-bottom: 10px;
    padding-top: 10px;
    
}

.cfa {
    background: linear-gradient(180deg, rgba(236, 26, 65, 1) 0%, rgba(117, 4, 84, 1) 100%);
    border: none;
    border-radius: 5px;
    color: whitesmoke;
    cursor: pointer;
    font-family: Open Sans;
    justify-content: center;
    opacity: 0.8;
    padding-bottom: 16px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 16px;
}

.cfa:hover {
    opacity: 1.0;

}

.box-text {
    margin-bottom: 15px;
}

.box-title {
    font-weight: bold;
}

.down-section {
    background: rgba(0, 0, 0, 0.6);
    color: whitesmoke;
    display: inline;
    padding-bottom: 10px;
    text-align: center;
}

.down-section p {
    color: whitesmoke;
    padding-top: 10px;
    padding-bottom: 10px;
    text-decoration: none;
}

.down-section__text:hover {
    color: lightgray
}

.down-section__button {
    background: linear-gradient(180deg, rgba(236, 26, 65, 1) 0%, rgba(117, 4, 84, 1) 100%);
    border: none;
    border-radius: 5px;
    color: whitesmoke;
    opacity: 0.8;
    padding: 14px;
    text-align: center;
}

.oculto {
    display: none;
}

.hamburguer-menu i {
    color: whitesmoke;
    cursor: pointer;
    font-size: 30px;
    font-weight: 800px;
    padding: 30px;
    text-align: center;  
}

.hamburguer-menu {
    margin-right: 5px;
    text-align: center;
    
}


/* Main */
/*
/* Catalogue */

main {
    margin-left: auto;
    margin-right: auto;
}

.graphic-novel {
    background-color: #912941;
    padding-bottom: 50px;
}

.title-container {
    background-color: #f4f4f4;
    margin-bottom: 50px;
    padding: 40px 0;
}

.title-container h1 {
    font-size: 34px;
    font-weight: bold;
    margin: auto;
    width: 80%;

}

.novel-container {
    background-color: white;
    border-radius: 35px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 30px;
    padding-top: 55px;
    width: 80%;
}

.novel-item {
    background-color: #fff;
    margin-bottom: 15px;
    padding: 20px;
    width: 100%;
}

.novel-item img {
    border: none;
    margin-left: auto;
    margin-right: auto;
    width: 100%; 
}

.novel-item h2 {
    font-size: 16px;
    margin-bottom: 10px;
    padding-top: 8px;
}

.novel-item p {
    color: #464646;
    font-size: 14px;
}

.precio {
    font-weight: bold;
    margin-top: 10px;
}



.literature {
    background-color: #1C6078;
    margin-left: auto;
    margin-right: auto;
}

.literature-title-container {
    background-color: rgb(255, 255, 255);
    color: grey;
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 30px;
    padding: 40px 30px;
}

.literature-section {
    background-color: #1C6078;
    padding-bottom: 50px;
    padding-top: 50px;

}

.literature-container {
    background-color: #f4f4f4;
    border-radius: 35px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 50px auto;
    overflow: hidden;
    padding-top: 50px;
    padding-right: 20px;
    padding-bottom: 30px;
    position: relative;
    width: 80%;
}

.literature-description {
    align-self: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-right: 20px;
    padding-left: 20px;
    width: 70%;
}


.literature-highlight {
    align-self: flex-start;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.literature-highlight img {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.highlight-title {
    color: #c53758;
    font-size: 20px;
    margin-bottom: 10px;

}

.highlight-subtitle {
    color: #464646;
    font-size: 16px;
    margin-bottom: 10px;
    

}

.highlight-text {
    font-size: 14px;
    font-style: italic;
    margin-bottom: 25px;
}

.highlight-button {
    align-self: center;
    background: linear-gradient(180deg, rgba(236, 26, 65, 1) 0%, rgba(117, 4, 84, 1) 100%);
    border: none;
    border-radius: 5px;
    color: whitesmoke;    
    padding: 14px 28px;
}

.corner-text-wrapper {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    clip: rect(0px, 141.421px, 70.7107px, 0px);
    height: 141.421px;
    position: absolute;
    right: -20.7107px;
    top: -20.7107px;
    width: 141.421px;
    z-index: 1;
}

.corner-text {
    color: white;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    left: 20px;
    top: 20px;
    background-color: #c53758;
    display: block;
    height: 100px;
    position: absolute;
    width: 100px;
    z-index: 2;

}

.corner-text span {
    position: relative;
    top: -185px;
    left: 10px;
    display: block;
    text-align: center;
    line-height: 400px;
    font-weight: bold;
    transform: rotate(45deg);
    text-align: right;
}

.highlight-button-container {
    align-self: center;
}

.children {
    background-color: #f7f6d5;
    padding-bottom: 50px;
}

.children-container {
    background-color: white;
    border-radius: 35px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 55px;
    padding-bottom: 30px;
    padding-top: 55px;
    width: 80%;
}

.children-item {
    background-color: #fff;
    margin-bottom: 15px;
    padding: 20px;
    width: 100%;
}

.children-item img {
    border: none;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    border: none;
}

.children-item h2 {
    font-size: 16px;
    margin-bottom: 10px;
    padding-top: 8px;
    
}

.children-item p {
    color: #464646;
    font-size: 14px;
}

.children-item:hover {
    transform: scale(1.10);
    transition: all ease-in-out 250ms;
}


.more-genres {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 200px;
    padding-top: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    width: 85%;
}


.viajes, .humor, .biografia {
    color: whitesmoke;
    font-size: 25px;
    font-weight: bold;
    letter-spacing: 2px;
    padding: 50px;
    text-align: center;
    width: 100%;

}
.viajes {
    background-color: #556270 ;
    margin-bottom: 3px;
    opacity: 0.8
}

.biografia {
    background-color: #4ECDC4;
    margin-bottom: 3px;
    opacity: 0.8
}


.humor {
    background-color: #FF6B6B;
    margin-bottom: 3px;  
    opacity: 0.8 
}



.viajes a, .humor a, .biografia a {
    color: whitesmoke;
    cursor: pointer;
    text-decoration: none;
}

.more-genres p:hover {
    opacity: 1.0;
    transition: all ease-in-out 250ms;
  
}

/* Footer */


.footer-section {
    background-color: #c53758;
    color: whitesmoke;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    opacity: 0.8;
    width: 100%;
}

.footer-section:hover {
    opacity: 1.0;
    transition: all ease-in-out 250ms;
}

.footer-item {
    color: var(--main-dark-gray);
    padding: 35px 45px 20px;
    text-align: center;
    width: 100%;
}

.footer-item >i {
    font-size: 16px;
    margin-bottom: 10px;
}

.footer-item >p {
    font-size: 14px;
    margin-bottom: 15px;

}


.footer-item ul li {
    font-size: 14px;
    list-style: none;
    padding: 8px;
    text-align: center;
}

.footer-item>.fa-whatsapp {
    /* color: #39b54a; */
    font-size: 20px;
    margin-right: 30px;
    text-align: left;
}

.footer-item>.fa-facebook-f {
    font-size: 20px;

}

.footer-item>.fa-instagram {
    font-size: 20px;
    margin-right: 30px;
    margin-top: 8px;
}

.navegacion,
.contacto-redes {
    font-weight: bold;
    text-align: center;

}

.footer-copyright>p {
    font-size: 14px;
    color: whitesmoke;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    text-align: left;
    width: 100%;
}

/* Login y Register*/

.body-login, .body-register {
    background-color: #f4f4f4;
    font-family: "Open Sans", "Segoe UI", "Lucida Grande", Verdana, sans-serif;
    
}

.main-login {
    box-sizing: border-box;
    font-size: 14px;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    text-align: center;
    

}
.input-barras {
    border: lightgray solid 1px;
    color: -internal-light-dark(black, white);
    display: inline-block;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 20px;
    margin-top: 20px;
    padding: 10px 10px;
    width: 90%;
}


.div-boton-login {
    margin-bottom: 20px;
    margin-top: 20px;
}

.boton-login, .boton-enviar, .boton-borrar {
    background: linear-gradient(180deg, rgba(236, 26, 65, 1) 0%, rgba(117, 4, 84, 1) 100%);
    border: none;
    color: whitesmoke;
    margin-left: auto;
    margin-right: auto;
    opacity: 0.8;
    padding: 8px;
    width: 80%;
}

.botones-register {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}

.boton-enviar {
    width: 48%;
}
.boton-borrar {
    width: 48%;
}

.boton-login:hover, .boton-enviar:hover, .boton-borrar:hover {
    opacity: 1.0;
}

.recuperacion-contraseña, a {
    color: #4F4F4F;
    padding-bottom: 15px;
    text-decoration: none; 
}

.recuperacion-contraseña a:hover {
    color: darkblue;
    cursor: pointer;
}

.caja-login,
.caja-register {
    align-items: center;
    background-color: white;
    border: #464646 solid 2px;
    border-radius: 35px; 
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    margin-bottom: 150px;
    padding: 50px;
    width: 85%;
}

.titulo-avatar, .label-nacimiento {
    color: #434343;
    font-family: "Open Sans", "Segoe UI", "Lucida Grande", Verdana, sans-serif;
    font-size: 16px;
    margin-bottom: 5px;
    margin-left: 15px;
    margin-top: 15px;
}


.input-avatar {
    padding: 16px;
}



/* Recuperar contraseña */

.envio-mail {
    color: #4F4F4F;
}



@media (min-width: 576px) {}

@media (min-width: 768px) {


    .main-title {
        width: 33%;
    }

    .main-menu {
        width: 60%;

    }

    .menu {
        display: flex;
       

    }

    .menu__item {
        padding-top: 23px;
        padding-bottom: 23px;

    }


    .hamburguer-menu {
        display: none;
    }


    .novel-item:hover {
        transform: scale(1.10);
        transition: all ease-in-out 250ms;
    }

    .novel-item, .children-item {
        margin-right: 8px;
        margin-bottom: 15px;
        padding: 20px;
        width: 47%;
    }

 

    .literature-container {
        max-width: 1130px;
    }
   
   
    .literature-highlight {
        width: 40%;

    }
    .literature-description {
        width: 40%;
        justify-content: flex-start;
    }

    .more-genres {
        width: 60%
    }
    

 



    /* Footer */
    .footer-item:nth-child(2)::before,
    .footer-item:nth-child(2)::after {
        background-color: var(--main-light-gray);
        content: "";
        display: block;
        height: 100px;
        margin-top: -32.5px;
        position: absolute;
        top: 50%;
        width: 1px;
    }

    .footer-item:nth-child(2)::before {
        left: 0;
    }

    .footer-item:nth-child(2)::after {
        right: 0;
    }

    .footer-item {
        position: relative;
        width: 33%;
    }

    .footer-item h2 {
        margin-bottom: 30px;
    }

    .footer-item p {
        font-size: 14px;
    }
    .caja-login, .caja-register {
        max-width: 500px
    }


}

@media (min-width: 1280px) {
    .up-section {
        height: 80px;
    }

    .hero-box {
        display: block;
    }

    .hero {
        justify-content: space-between;
    }

    .down-section {
        display: none;
    }

    .oculto {
        display: block
    }

    .novel-item, .children-item {
        margin-right: 8px;
        width: 25%;
    }

    .viajes  {
        width: 94%; 
    }

    .humor, .biografia {
        width: 47%;
    
    }
    .humor {
        margin-right: 3px;
    }



    
}